{% extends 'base.html.twig' %}

{% block title %}
    {{ serie.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{ serie.name }}</h2>
    <section class="serie-details">
        <section class="title-image">
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </section>
        <section class="serie-infos">
            <div class="genres-dates">
                <span class="genre"><h3>Genre</h3> {{ serie.genres }}</span>
                <span class="Releasedate"><h3>Release Date</h3> {{ serie.firstAirDate | date('d-m-Y') }}</span>
                <span class="status"><h3>Status</h3> {{ serie.status }}</span>
            </div>
            <div class="overview">
                <h3>Resume</h3>
                <p>{{ serie.overview }}</p>
            </div>
        </section>
    </section>
    <section class="serie-note">
        <div class="popularity">
            <div><h3>Note</h3> {{ serie.vote }}</div>
            <div><h3>Popularity</h3> {{ serie.popularity }}</div>
        </div>
    </section>
    <section class="seasons">
        <h3>Seasons</h3>
        {% for season in serie.seasons %}
            <article>
                <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt="{{ serie.name }} season #{{ season.number }}">
                <h4>Season #{{ season.number }}</h4>
                {% if season.overview %}
                    <div>{{ season.overview }}</div>
                {% endif %}
            </article>

        {% endfor %}
    </section>
{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(19, 33, 53, 0.9)), url("{{ asset('img/backdrops/' ~ serie.backdrop) }}") no-repeat center;
            background-size: cover;
            font-family: 'Tektur', cursive;
        }
    </style>
{% endblock %}



