<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Series !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="icon" href="{{ asset('img/icon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima&family=Nabla&family=Tektur&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="Series !"></a></h1>
            {% include('inc/nav.html.twig') %}
        </header>

        <main>
            {%  block body %}{% endblock %}
        </main>

        <footer>
            <div class="copyright">&copy; {{ "now"|date("Y") }} PixDev | <a href="https://www.eni-ecole.fr/">@ENI-Ecole Informatique</a> |
                <a href="https://github.com/PxL1337/series" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/bd77a4e8ae.js" crossorigin="anonymous"></script>
    {% block javascripts %}
        <script src="{{ asset('js/zoom.js') }}"></script>
    {% endblock %}
</body>
</html>